<<<<<<< HEAD
body  {
  padding: 0px;
  /*! border: solid; */
  border: none;
  margin: 0px;
}

p  {
  margin: 4px;
  padding: 5px;
  border: solid;
  border-color: gray;
}
=======
body  {
  padding: 0px;
  /*! border: solid; */
  border: none;
  margin: 0px;
}

p  {
  margin: 4px;
  padding: 5px;
  border: solid;
  border-color: gray;
}
>>>>>>> c1d4b89c1173ab6165e52f7ce7d24e17926d0b1b
