@font-face{
  font-family: "letra";
  src: url("letra.ttf");
}

h1{
  font-size: 80px;
  margin-left: 380px;
  font-family: "letra";
  color: black;
}


h2{
  font-size: 43px;
  margin-left: 10px;
  font-family: "letra";
  color: black;
}


.barra{
  font-size: 23px;
  font-family: "letra";
  color: black;
  text-align: center;
  column-count: 3;
  padding-left: 100px;
  padding-right: 100px;
}

button{
  margin-top: 2px;
  margin-left: 500px;
  margin-right: 80px;
}

#formato{
  text-align: center;
  column-count: 3;
  font-size: 1px;
  margin-left: 10px;
  font-family: "letra";
}



.imagenes{
  text-align: center;
  column-count: 2;
  }
