@font-face{
  font-family: "letra";
  src: url("letra.ttf");
}

@font-face{
  font-family: "letra_botones";
  src: url("letra_botones.ttf");
}


body{
  background-image: url("fondo.jpg");
}
h1{
  font-size: 80px;
  margin-left: 450px;
  font-family: "letra";
  color: black;
}


h2{
  font-size: 43px;
  margin-left: 10px;
  font-family: "letra";
  color: black;
}



.barra{
  margin-top: 35px;
  font-size: 23px;
  font-weight: bold;
  font-family: "letra";
  font-style: bold;
  color: black;
  text-align: center;
  column-count: 3;
  padding-left: 100px;
  padding-right: 100px;
}


#formato{
  text-align: center;
  column-count: 3;
  font-size: 1px;
  margin-left: 10px;
  font-family: "letra";
}



.imagenes{
  text-align: center;
  column-count: 2;
  }

button{
  font-family: "letra";
  font-size: 25px;
  font-weight: bold;
  background-size: contain;
  text-align: center;
  margin-top: 20px;
  margin-left: 90px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 10px;
  border-color: #d8d8d8;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
}
